/*
	***********
	** Fonts **
	***********
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

/*
	***********
	** Reset **
	***********
*/
* {
	margin:  0;
	padding:  0;
	outline:  none;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
	scroll-behavior: smooth;
	vertical-align: baseline;
}

/*
	***************
	** Variables **
	***************
*/
:root {
	--background-color-1: #041f36;
	--background-color-2: #0a394d;
	--background-color-3: #f8f8ff; /* footer */
	--background-color-4: #c6c6c6; /* mobile menu options on hover */

	--color-1: #f6f6ff;
	--color-2: ghostwhite;
	--color-3: #c3c3c3;

	--text-shadow-color: #7159c1; /* header */

	--font-1: Roboto Mono;
	--font-2: Roboto;
	--font-3: sans-serif;

	--skills-card-height: 200px;
  	--skills-card-width: calc(var(--skills-card-height) / 1.5);
}

/*
	**************
	** Defaults **
	**************
*/
body {
	overflow-x: hidden;
	font: 400 18px var(--font-1), var(--font-3);
	
    background: var(--background-color-1);
    -webkit-font-smoothing: antialiased;
}

a { color: var(--color-2); }
button { font: 400 14px var(--font-2), var(--font-3); }