/*
	***********
	** Reset **
	***********
*/
* {
	margin:  0.00px;
	padding:  0.00px;
	outline:  none;
	list-style: none;
	text-decoration: none;
	text-underline-offset: 5.00px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	scroll-behavior: smooth;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;

	user-select: none;
	-moz-user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

/*
  ***********
  ** Fonts **
  ***********

  - downloads fonts in woff2 format in: https://gwfh.mranftl.com/fonts
*/

/* ---- Roboto ---- */
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto/roboto-v51-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto/roboto-v51-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto/roboto-v51-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ---- Roboto Mono ---- */
@font-face {
  font-family: 'Roboto Mono';
  src: url('/assets/fonts/roboto-mono/roboto-mono-v31-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/assets/fonts/roboto-mono/roboto-mono-v31-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/assets/fonts/roboto-mono/roboto-mono-v31-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*
	***************
	** Variables **
	***************
*/
:root {
	--background-color-1: #041f36;
	--background-color-2: #0a394d;
	--background-color-3: #f8f8ff; /* footer */
	--background-color-4: #c6c6c6; /* mobile menu options on hover */

	--color-1: #f6f6ff;
	--color-2: #f8f8ff;
	--color-3: #c3c3c3;
	--color-4: #7f4d96;

	--text-shadow-color: #7159c1; /* header */
	--progress-bar-background-color: #767676;

	--font-1: 'Roboto Mono';
	--font-2: 'Roboto';
	--font-3: sans-serif;

	--skills-card-height: 200.00px;
  --skills-card-width: calc(var(--skills-card-height) / 1.5);
}

/*
	**************
	** Defaults **
	**************
*/
body {
	overflow-x: hidden;
	font: 400 18.00px var(--font-1), var(--font-3);
  background: var(--background-color-1);
}

a { color: var(--color-2); }
button { font: 400 14.00px var(--font-2), var(--font-3); }