.container {
	width: 100vw;
	margin-bottom: 5px;
	background-color: #efefef;
	color:  #707070;
}

.containerTitle {
	text-align:  center;
	font-size: 30px;
}

.containerTitle .containerTitleText {
	text-decoration: underline;
	text-decoration-style: dashed;
}

.sticker {
	width: 200px;
	height: auto;
}