/*
    Computer and Notebook
*/

fieldset { margin: 15px 0; padding: 20px; border-radius: 20px; font-size: 18px;  }

.botao {
    background-color: var(--style-primary-purple);
    color: var(--secondary-color);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px; border: none; width: 100px; height: 35px;
    outline: none; font-weight: bolder;

    border: 2px solid var(--style-primary-purple);
    box-shadow: 2px 2px 8px var(--style-secondary-purple);
}

.botao:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--style-primary-purple);
}

p { text-indent: 3rem; text-align: justify; text-justify: inter-word; }
p a { color: var(--style-secondary-purple); }
p a:hover { color: var(--style-primary-purple); text-decoration: underline;  }

#dados {
    position: relative;    
    height: calc(100% - 80px);
    overflow: auto;
}

#dados table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;    
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
}

#dados table td, #dados table th {
    border: 1px solid #ddd;
    padding: 0 8px;
}

#dados table tr:nth-child(even){background-color: #f2f2f2;}

#dados table tr:hover {background-color: #32CD32/*#ddd*/;}

#dados table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

#dados table td {
	text-align: center;
}

/*
    Mobile and Tablet
*/

@media screen and (max-width: 700px) {
    .refFieldSet legend { font-size: 25px; }
}
